/* Set charset to utf-8 */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus-visible {
  outline: 1px solid #ef672f;
}

ul {
  list-style-type: none;
}

a {
  color: #666;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

button {
  background: none;
  border: none;
  outline: none;
}

/* SVG's */
.search__btn svg {
  width: 16px;
  height: 16px;
  background: none;
}

.user__icon svg {
  width: 16px;
  height: 20px;
  display: block;
}

.user__dropdown svg {
  width: 20px;
  height: 10px;
}

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

.wrapper {
  border: 1px solid blue;
  padding: 1em 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  margin: 0 auto;
  min-width: calc(500px + 7em);
}

/* Mobile Layout */
.header__form,
.content {
  min-width: 550px;
}

.header__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
      grid-template-areas: "ham . logo logo . user" "channel channel channel search search search";
}

.hamburger,
.user,
.search,
.channel,
.logo {
  border: 1px solid red;
}

.hamburger {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ham;
  text-align: left;
  display: inline;
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: logo;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.logo img {
  display: block;
  width: 100%;
}

.channel {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: channel;
  border: 1px solid #f7f7f7;
  border-radius: 100vh;
  background-color: #f6f7fb;
  width: 100%;
  padding: 0.9em;
  line-height: 22px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background-image: url("../img/icons/dropdown.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: right;
  background-origin: content-box;
}

.search {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: search;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #f7f7f7;
  border-radius: 100vh;
  background-color: #f6f7fb;
}

.search .search__input,
.search .search__btn {
  line-height: 25px;
  padding: 0.8em 1em;
  background-color: transparent;
}

.search .search__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #666;
  border-radius: 100vh 0 0 100vh;
}

.search .search__btn {
  width: 60px;
  border-radius: 0 100vh 100vh 0;
}

.user {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: user;
  text-align: right;
}

select,
button {
  cursor: pointer;
}

select,
option,
input {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
  text-align: left;
  width: 100%;
  padding: 5px;
}

.sidebar__nav {
  border: 1px solid red;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.85;
}

.content {
  border: 1px solid red;
  background-color: #f6f7fb;
  border-radius: 2em;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: calc(500px + 4em);
}

.content__chart {
  width: 259px;
  height: 348px;
  background: lightblue;
  padding: 24px;
}

/* Data Table Style START */
.content__data {
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: 1px solid red;
  min-width: 500px;
}

article {
  width: 100%;
}

/* Subtitle  */
.data__subtitle {
  margin: 0.5em 0;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Data Table  */
.data__table {
  border: 1px solid #111;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  width: 100%;
  min-width: 460px;
  padding: 5px 10px;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 1em;
  /* 
		Line Clamps size 3 throw ellipsis when overflow
		-- https://css-tricks.com/almanac/properties/l/line-clamp/
	*/
}

.table td,
.table th {
  padding: 8px;
}

.table tr:not(:first-child):hover {
  background-color: #eaeaea;
}

.table tr:nth-child(2n + 1) {
  background-color: #f7f7f7;
}

.table td:nth-child(3) {
  text-align: center;
}

.table tr:first-child {
  border-bottom: 1px solid #111;
  background-color: unset;
  text-align: left;
}

.table tr:first-child th:nth-child(3) {
  text-align: center;
}

.table .title a {
  font-weight: 700;
}

.table td:nth-child(1) a,
.table td:nth-child(2) a,
.table td:nth-child(3) {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 25px;
}

.bottom__link a {
  display: block;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px;
  border-top: 1px solid #111;
}

.bottom__link a:hover {
  background-color: #eaeaea;
}

/* Data Table Style END */
.data__medium th:nth-child(2),
.data__medium td:nth-child(2),
.data__keyword th:nth-child(2),
.data__keyword td:nth-child(2) {
  text-align: center;
}

/* Tablet Layout for Header 920px*/
@media (min-width: 920px) {
  .header__form {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: "logo . channel channel search search search search search search search user";
  }
  .hamburger,
  .cross {
    display: none;
  }
  .user {
    width: auto;
    text-align: left;
  }
}

/* Tablet Layout 1080px*/
@media (min-width: 1080px) {
  .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content__data {
    display: -ms-grid;
    display: grid;
    grid-gap: 2em;
        grid-template-areas: "o o o o o o" "m m m k k k" "s s s s s s";
  }
  .data__overview {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: o;
  }
  .data__medium {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: m;
  }
  .data__keyword {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-area: k;
  }
  .data__source {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: s;
    width: 100%;
  }
}

@media (min-width: 1480px) {
  .sidebar__nav {
    background-color: unset;
    position: unset;
    -webkit-box-flex: 0;
        -ms-flex: 0 auto;
            flex: 0 auto;
  }
  .content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -ms-grid;
    display: grid;
    grid-gap: 1em;
        grid-template-areas: "c c t t" "c c d d";
    max-width: 100%;
    margin-left: auto;
  }
  .content__title {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: t;
  }
  .content__chart {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: c;
  }
  .content__data {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: d;
  }
}
/*# sourceMappingURL=style.css.map */