/* Set charset to utf-8 */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus-visible {
  outline: 1px solid #ef672f;
}

ul {
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
}

a {
  color: #666;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

button {
  background: none;
  border: none;
  outline: none;
}

select,
button {
  cursor: pointer;
}

select,
option,
input {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
  text-align: left;
  width: 100%;
  padding: 5px;
}

/* SVG's */
.search__btn svg {
  width: 100%;
  height: 16px;
  background: none;
}

.user__icon svg {
  width: 20px;
  height: 20px;
  display: block;
}

.user__dropdown svg {
  width: 20px;
  height: 10px;
}

.hamburger svg {
  width: 100%;
  height: 19px;
  fill: #007cbd;
}

.nav__head svg.clock {
  width: 25px;
  height: 24px;
}

.nav__head svg.clock path {
  fill: #007cbd;
}

.nav__head svg.dropdown {
  width: 20px;
  height: 10px;
}

.nav__head svg.dropdown path {
  fill: #666;
}

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

.wrapper {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  margin: 0 auto;
}

/* Mobile Layout */
.header__form,
.content {
  min-width: calc(500px + 11em);
}

.header__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
      grid-template-areas: "ham . logo logo . user" "channel channel search search search search";
}

.hamburger {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ham;
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: logo;
}

.user {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: user;
}

.channel {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: channel;
}

.search {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: search;
}

.hamburger {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-left: 0.9em;
  cursor: pointer;
}

.logo {
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.logo img {
  display: block;
  width: 100%;
}

.channel {
  color: #666;
  border: 1px solid #f7f7f7;
  border-radius: 100vh;
  background-color: #f6f7fb;
  width: 100%;
  padding: 0.9em;
  line-height: 22px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background-image: url("../img/icons/dropdown.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: right;
  background-origin: content-box;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #f7f7f7;
  border-radius: 100vh;
  background-color: #f6f7fb;
}

.search .search__input,
.search .search__btn {
  line-height: 25px;
  padding: 0.8em 1em;
  background-color: transparent;
}

.search .search__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #666;
  border-radius: 100vh 0 0 100vh;
}

.search .search__btn {
  width: 60px;
  border-radius: 0 100vh 100vh 0;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  position: relative;
}

.user__name {
  color: #666;
  white-space: nowrap;
}

.user__dropdown {
  padding-top: 0.5rem;
  display: none;
}

.user__block {
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.3s ease;
  transition: opacity 0.4s, -webkit-transform 0.3s ease;
  transition: opacity 0.4s, transform 0.3s ease;
  transition: opacity 0.4s, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.user__block a + a {
  border-top: 1px solid #575766;
}

.user__block a {
  display: block;
  white-space: nowrap;
  text-align: right;
  text-transform: uppercase;
  padding: 10px;
}

.user__block a:hover {
  border-right: 8px solid #3ea6dd;
}

.user__block--open {
  background-color: #f6f7fb;
  -webkit-box-shadow: 0 2px 2px 2px rgba(102, 102, 102, 0.2);
          box-shadow: 0 2px 2px 2px rgba(102, 102, 102, 0.2);
  padding: 10px 10px;
  width: 180px;
  border-radius: 15px;
  -webkit-transform: translateY(1em);
          transform: translateY(1em);
  visibility: unset;
  opacity: 1;
}

.sidebar__nav {
  position: fixed;
  inset: 0;
  background-color: #fff;
  font-size: 1.5rem;
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar__nav--open {
  visibility: unset;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  z-index: 1;
}

.nav__close {
  background-color: #e5e5e5;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.cross {
  width: 60px;
  height: 60px;
  font-size: 2em;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.cross:hover p {
  -webkit-animation: spin 350ms linear;
          animation: spin 350ms linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.nav {
  min-width: 290px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav .nav__head {
  color: #666;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ddd;
}

.nav .nav__head :nth-child(2) {
  margin-left: 0.5em;
}

.nav .nav__head :last-child {
  margin-left: auto;
}

.nav .nav__items {
  height: auto;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.nav .nav__items li {
  border-bottom: 1px solid #c3e3f5;
  text-align: left;
  line-height: 22px;
}

.nav .nav__items li a {
  display: block;
  padding: 1rem 3.5rem;
  color: #007cbd;
}

.nav .nav__items li.active {
  border-left: 10px solid #007cbd;
  background-color: #e3f5fe;
}

.nav .nav__items li:hover {
  background-color: #e3f5fe;
}

.nav .item--open {
  max-height: 500px;
  -webkit-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in;
}

.content {
  background-color: #f6f7fb;
  border-radius: 2em;
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25em;
}

.content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 22px;
}

.content__title h1 {
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  color: #2c5498;
  margin-left: 0.5em;
}

.content__title a.arrow__left {
  /* https://www.htmlsymbols.xyz/arrow-symbols */
  font-size: 1.2em;
  width: 2em;
  height: 2em;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #6d8591;
  background-color: #e0e5e8;
  border-radius: 100vh;
  -webkit-transition: padding-right 0.35s ease;
  transition: padding-right 0.35s ease;
}

.content__title a.arrow__left:hover {
  padding-right: 0.4em;
}

.detail__page {
  line-height: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.8em;
}

.detail__page .title {
  text-transform: unset;
  margin-left: 0;
}

.filter__scroll {
  padding: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.filter__scroll::-webkit-scrollbar {
  display: none;
}

.filter__scroll a.filter__button {
  border: 1px solid blue;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  scroll-snap-align: start;
  border-radius: 1em;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.filter {
  border: 1px solid #84c6e9;
  background-color: #e3f5fe;
  color: #007cbd;
}

.clear {
  border: 1px solid #007cbd;
  background-color: #007cbd;
  color: #e3f5fe;
}

.content__chart {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chart__block {
  color: #666;
  background-color: #fff;
  padding: 36px 24px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

#myChart {
  width: 100%;
  margin: 1em 0;
}

.counter__block {
  text-align: center;
}

.counterTotal {
  font-size: 2em;
  font-weight: 700;
  color: #007cbd;
}

.activeUser {
  font-size: 1.25em;
  text-transform: uppercase;
}

.lastFiveMins {
  font-size: 0.625em;
  text-transform: uppercase;
}

.legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.938em;
  text-transform: uppercase;
  position: relative;
}

.legend__item {
  position: relative;
  margin-left: 20px;
}

.circle {
  position: absolute;
  left: -25px;
  width: 20px;
  height: 20px;
  background-color: #666;
  border-radius: 100vh;
}

.legend__percentage {
  font-size: 2em;
  font-weight: 700;
  color: #007cbd;
  text-align: left;
}

.legend__text {
  font-size: 1.125em;
  text-align: left;
}

/* Data Table Style START */
.content__data {
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-gap: 1em;
  min-width: 500px;
}

article {
  width: 100%;
}

/* Subtitle  */
.data__subtitle {
  margin: 0.5em 0;
  font-size: 24px;
  font-weight: 700;
  color: #007cbd;
  text-transform: uppercase;
}

/* Data Table  */
.data__table {
  border: 1px solid #f7f7f7;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1em;
  width: 100%;
  padding: 5px 10px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.table {
  border-spacing: 0;
  width: 100%;
  font-size: 1em;
  /* 
		Line Clamps size 3 throw ellipsis when overflow
		-- https://css-tricks.com/almanac/properties/l/line-clamp/
	*/
}

.table td,
.table th {
  padding: 8px;
  color: #333;
}

.table tr:not(:first-child):hover {
  background-color: #eaeaea;
}

.table tr:nth-child(2n + 1) {
  background-color: #f7f7f7;
}

.table td:last-child {
  text-align: center;
}

.table tr:first-child {
  border-bottom: 1px solid #e6e6e6;
  background-color: unset;
  text-align: left;
}

.table tr:first-child th:last-child {
  text-align: center;
}

.table td:first-child a,
.table .link a {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 25px;
}

.table td:last-child {
  white-space: nowrap;
}

.table .title a {
  font-weight: 700;
  color: #007cbd;
}

.table .source__title a {
  font-weight: 400;
  color: #666;
}

.table .source__link a {
  font-weight: 700;
  color: #007cbd;
}

.bottom__link a {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px;
  border-top: 1px solid #e6e6e6;
  color: #007cbd;
}

.bottom__link a span {
  -webkit-transition: padding-left 0.35s ease;
  transition: padding-left 0.35s ease;
}

.bottom__link a:hover {
  background-color: #eaeaea;
}

.bottom__link a:hover span {
  padding-left: 8px;
}

.table__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table__scroll .table.fixed__basis {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 770px;
          flex: 0 0 770px;
}

.table__scroll .table.auto__basis {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.table__scroll td:first-child a {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 25px;
  font-weight: 700;
  color: #007cbd;
}

.table__scroll::-webkit-scrollbar {
  display: none;
}

/* Data Table Style END */
.data__medium th:nth-child(2),
.data__medium td:nth-child(2),
.data__keyword th:nth-child(2),
.data__keyword td:nth-child(2) {
  text-align: center;
}

/* Tablet Layout 768px - Snap Content Data Only */
@media (min-width: 768px) {
  .content__data {
    display: -ms-grid;
    display: grid;
    grid-gap: 1.5em;
        grid-template-areas: "o o o o o o" "m m m k k k" "s s s s s s";
  }
  .data__keyword_full {
        grid-template-areas: "k k k k k k";
  }
  .data__source_full {
        grid-template-areas: "s s s s s s";
  }
  .data__overview {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: o;
  }
  .data__medium {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: m;
  }
  .data__keyword {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: k;
  }
  .data__source {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: s;
  }
  .table__scroll .table.fixed__basis {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

/* Desktop Layout 1160px - Snap Header, Nav and Contents*/
/* Desktop Layout 1280 - tester*/
@media (min-width: 1160px) {
  .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5em;
  }
  .header__form {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: "logo . channel channel search search search search search search search user";
  }
  .hamburger,
  .nav__close {
    display: none;
  }
  .user {
    width: auto;
    text-align: left;
  }
  .sidebar__nav {
    background-color: unset;
    position: unset;
    min-width: 245px;
    visibility: unset;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  .nav {
    position: -webkit-sticky;
    position: sticky;
    top: 1em;
  }
  .content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -ms-grid;
    display: grid;
    grid-gap: 1.5em;
        grid-template-areas: "c c t t" "c c . ." "d d d d";
  }
  .content__title {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: t;
  }
  .content__chart {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: c;
  }
  .content__data {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: d;
  }
  .content__data {
    display: -ms-grid;
    display: grid;
    grid-gap: 1.5em;
        grid-template-areas: "o o o o o o" "m m m k k k" "s s s s s s";
  }
  .data__keyword_full {
        grid-template-areas: "k k k k k k";
  }
  .data__source_full {
        grid-template-areas: "s s s s s s";
  }
  .data__overview {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: o;
  }
  .data__medium {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: m;
  }
  .data__keyword {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: k;
  }
  .data__source {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: s;
  }
  .content__title a.arrow__left {
    display: none;
  }
  .content__title h1 {
    margin-left: 0;
  }
}

@media (min-width: 1440px) {
  .sidebar__nav {
    background-color: unset;
    position: unset;
    -webkit-box-flex: 0;
        -ms-flex: 0 auto;
            flex: 0 auto;
  }
  .content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -ms-grid;
    display: grid;
    grid-gap: 1.5em;
        grid-template-areas: "c t t t t t" "c d d d d d";
    max-width: 100%;
    margin-left: auto;
  }
  .content__title {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-area: t;
  }
  .content__chart {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: c;
  }
  .content__data {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-area: d;
  }
}
/*# sourceMappingURL=style.css.map */