/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

/* Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline-color: #ef672f;
	outline-width: 2px;
}

ul {
	list-style-type: none;
}

a {
	color: #666;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

button {
	background: none;
	border: none;
}

/* SVG's */
.search__btn svg {
	width: 16px;
	height: 16px;
	background: none;
}

.user__icon svg {
	width: 16px;
	height: 20px;
	display: block;
}

.user__dropdown svg {
	width: 20px;
	height: 10px;
}
.sidebar__nav svg {
	width: 8px;
	height: 9px;
}

/* General Styles - Logo, Sidebar & Header*/
body {
	background-color: #f0f0f0;
	background-size: auto;
	background-image: url(../img/bg/bottomLeft_img_4.png),
		url(../img/bg/bottomRight_img_5.png), url(../img/bg/topRight_img_6.png);
	background-position: bottom 0 left 0, bottom 0 right 0, top 0 right 0;
	background-repeat: no-repeat;
	background-attachment: fixed;

	font-family: Montserrat, sans-serif;
	font-size: 1em;
}

.logo {
	display: block;
}

.wrapper {
	display: flex;
	padding: 1em;
}

select,
input {
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
	background-color: #f0f0f0;
	// background-color: red;
	border: 0;
	outline-color: #ef672f;
	text-align: left;
}

.sidebar,
.main {
	border: 1px solid blue;
}

/* Sidebar & Main*/
.sidebar {
	flex: 0 0 auto;
	position: relative;
}
.main {
	flex: 1;
	padding: 0 3em;
}

/** Logo **/
.sidebar__logo {
	display: grid;
	place-content: center;
}

/** Nav Style**/
.sidebar__nav {
	color: #666;
	font-size: 1.2em;
	font-weight: 500;
	text-transform: uppercase;

	height: 100vh;

	// display: grid;
	// place-content: center;
	// margin-top: -5em;

	position: relative;

	li {
		line-height: 3em;
	}

	.nav__block {
		display: flex;
		flex-direction: column;
		margin-top: 80%;

		cursor: pointer;
	}

	.nav__header {
		padding-left: 1em;
		padding: 0em 6.25em 0 1em;
		margin-right: auto;

		border: 1px solid red;

		svg {
			margin: 0 0.3em;
		}
	}

	.nav__items {
		display: flex;
		flex-direction: column;

		li {
			a {
				display: block;
				padding: 0em 3.5em;
			}

			&.active {
				background-color: #fff;
				border-left: 5px solid #332070;
			}
		}
	}
}

/* Nav-Style Control Experiment*/
// #realtime__item {
// 	display: none;
// }

/** Header **/
.main__header__channel,
.main__header__search,
.main__header__user {
	margin: 0.8em 0;

	border: 1px solid red;
}
.main__header {
	border: 1px solid red;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.main__header__search,
.main__header__user {
	display: flex;
}

.main__content__graph {
	margin-top: 1em;
	// border: 1px solid red;
}

/* 
    1 Overview Content
*/

/* 1 Overview */
