/* Set charset to utf-8 */
@charset "utf-8";

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	&:focus-visible {
		outline: 1px solid #ef672f;
	}
}

ul {
	list-style-type: none;
}
li {
	padding: 0;
	margin: 0;
}

a {
	color: #666;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

button {
	background: none;
	border: none;
	outline: none;
}

select,
button {
	cursor: pointer;
}

select,
option,
input {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.8);
	border: 0;
	text-align: left;
	width: 100%;
	padding: 5px;
}

/* SVG's */
.search__btn svg {
	width: 100%;
	height: 16px;
	background: none;
}

.user__icon svg {
	width: 20px;
	height: 20px;
	display: block;
}

.user__dropdown svg {
	width: 20px;
	height: 10px;
}

.hamburger svg {
	width: 100%;
	height: 19px;
	fill: #007cbd;
}

.nav__head svg.clock {
	width: 25px;
	height: 24px;
	path {
		fill: #007cbd;
	}
}
.nav__head svg.dropdown {
	width: 20px;
	height: 10px;
	path {
		fill: #666;
	}
}

body {
	background-color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 1em;
}

// Wrapper
.wrapper {
	// border: 1px solid blue;

	padding: 1em 1.5em;

	display: flex;
	flex-direction: column;
	gap: 1em;

	// center body
	margin: 0 auto;

	// min-width wrapper
	// = contentWidth + paddingLeft + paddingRight
	min-width: calc(500px + 7em);
}

/* Mobile Layout */

//Header & Content min-width
.header__form,
.content {
	min-width: 550px;
}

// Header form style
.header__form {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: auto;
	grid-gap: 1em;
	grid-template-areas:
		"ham . logo logo . user"
		"channel channel search search search search";
}
.hamburger {
	grid-area: ham;
}
.logo {
	grid-area: logo;
}
.user {
	grid-area: user;
}
.channel {
	grid-area: channel;
}
.search {
	grid-area: search;
}

.hamburger,
.user,
.search,
.channel,
.logo {
	// border: 1px solid red;
}

// hamburger style
.hamburger {
	display: grid;
	align-content: center;

	padding-left: 0.9em;
	cursor: pointer;
}

// Logo Style
.logo {
	text-align: center;

	display: grid;
	place-content: center;
	& img {
		display: block;
		width: 100%;
	}
}

// Channel dropdown style
.channel {
	border: 1px solid #f7f7f7;
	border-radius: 100vh;
	background-color: #f6f7fb;

	width: 100%;
	padding: 0.9em;
	line-height: 22px;

	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;

	background-image: url("../img/icons/dropdown.svg");
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-position: right;
	background-origin: content-box;
}

// Search Style
.search {
	display: flex;

	border: 1px solid #f7f7f7;
	border-radius: 100vh;
	background-color: #f6f7fb;

	.search__input,
	.search__btn {
		line-height: 25px;
		padding: 0.8em 1em;
		background-color: transparent;
	}
	.search__input {
		flex: 1;
		color: #666;
		border-radius: 100vh 0 0 100vh;
	}
	.search__btn {
		width: 60px;
		border-radius: 0 100vh 100vh 0;
	}
}

// User Style
.user {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	// disable highlight on navigation
	user-select: none;
	cursor: pointer;

	position: relative;
}

.user__name {
	white-space: nowrap;
}
.user__dropdown {
	padding-top: 0.5rem;
	display: none;
}
.user__block {
	position: absolute;
	top: 100%;
	right: 0;

	a + a {
		border-top: 1px solid #575766;
	}

	a {
		display: block;
		white-space: nowrap;
		text-align: right;
		text-transform: uppercase;
		padding: 10px;
	}
	a:hover {
		border-right: 8px solid #3ea6dd;
	}

	// hide user__block
	transform: translateX(50%);
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
}
.user__block--open {
	background-color: #f6f7fb;
	box-shadow: 0 2px 2px 2px rgba(102, 102, 102, 0.2);
	padding: 10px 10px;
	width: 180px;
	border-radius: 15px;

	// show user__block
	transform: translateX(0);
	visibility: unset;
	opacity: 1;
}

.user__icon,
.user__name,
.user__dropdown {
	// border: 1px solid blue;
}

// Sidebar Nav Block
.sidebar__nav {
	// border: 1px solid red;

	position: fixed;
	inset: 0;
	background-color: #fff;

	font-size: 1.5rem;

	// hide navigation on mobile viewport
	transform: translateX(-70%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}

.sidebar__nav--open {
	visibility: unset;
	transform: translateX(0);
	opacity: 1;
}

// Navigation Close
.nav__close {
	background-color: #e5e5e5;
	padding: 1rem 1.5rem;
	cursor: pointer;
}

.cross {
	width: 60px;
	height: 60px;
	font-size: 2em;
	background-color: #fff;

	display: grid;
	place-content: center;
}

.cross:hover p {
	animation: spin 350ms linear;
}

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(180deg);
	}
}

// Navigation Header and Items
.nav {
	min-width: 290px;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;

	// disable highlight on navigation
	user-select: none;

	.nav__head {
		box-shadow: 0 1px 1px 1px rgba(17, 17, 17, 0.2);
		padding: 1rem;
		display: flex;
		align-items: center;

		:nth-child(2) {
			margin-left: 0.5em;
		}
		:last-child {
			margin-left: auto;
		}
	}

	.nav__items {
		// Hide nav__items
		height: auto;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-out;

		li {
			padding: 1rem 3.5rem;
			text-align: left;
			line-height: 22px;
			a {
				color: #007cbd;
			}
		}
		li.active {
			border-left: 10px solid #007cbd;
			background-color: #e3f5fe;
		}
		li:hover {
			background-color: #e3f5fe;
		}
	}

	.item--open {
		// show nav__items
		max-height: 500px;
		transition: max-height 0.3s ease-in;
	}
}

// Content Style
.content {
	// border: 1px solid red;

	background-color: #f6f7fb;
	border-radius: 2em;
	padding: 2em;

	display: flex;
	flex-direction: column;
	gap: 1.25em;

	// minWidth content
	min-width: calc(500px + 4em);
}

// Content Chart Style
.content__chart {
	width: 100%;
	height: 348px;
	background: lightblue;
	margin: 0 auto;
	padding: 24px;

	// max width on mobile viewport
	max-width: 633px;
}

/* Data Table Style START */
.content__data {
	display: grid;
	place-items: center;
	grid-gap: 1em;

	// border: 1px solid red;
	min-width: 500px;
}

article {
	width: 100%;
	// border: 1px solid red;
}

/* Subtitle  */
.data__subtitle {
	margin: 0.5em 0;
	font-size: 23px;
	font-weight: 700;
	text-transform: uppercase;
}

/* Data Table  */
.data__table {
	border: 1px solid #111;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 8px;
	width: 100%;
	padding: 5px 10px;

	// min-width: 460px;
}

.table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	font-size: 1em;

	td,
	th {
		padding: 8px;
	}

	tr:not(:first-child):hover {
		background-color: #eaeaea;
	}

	tr:nth-child(2n + 1) {
		background-color: #f7f7f7;
	}

	td:nth-child(3) {
		text-align: center;
	}

	tr:first-child {
		border-bottom: 1px solid #111;
		background-color: unset;
		text-align: left;

		th:nth-child(3) {
			text-align: center;
		}
	}

	.title a {
		font-weight: 700;
	}

	/* 
		Line Clamps size 3 throw ellipsis when overflow
		-- https://css-tricks.com/almanac/properties/l/line-clamp/
	*/
	td:nth-child(1) a,
	td:nth-child(2) a,
	td:nth-child(3) {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;

		line-height: 25px;
	}
}

.bottom__link a {
	display: block;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	padding: 8px;
	border-top: 1px solid #111;
}
.bottom__link a:hover {
	background-color: #eaeaea;
}
/* Data Table Style END */

.data__medium,
.data__keyword {
	th:nth-child(2),
	td:nth-child(2) {
		text-align: center;
	}
}

/* Tablet Layout 768px - Snap Content Data Only */
@media (min-width: 768px) {
	// Content Data Style - Tablet
	.content__data {
		display: grid;
		grid-gap: 1.5em;
		grid-template-areas:
			"o o o o o o"
			"m m m k k k"
			"s s s s s s";
	}
	.data__overview {
		grid-area: o;
	}
	.data__medium {
		grid-area: m;
	}
	.data__keyword {
		grid-area: k;
	}
	.data__source {
		grid-area: s;
		width: 100%;
	}
}

/* Desktop Layout 1024px - Snap Header, Nav and Contents*/
@media (min-width: 1024px) {
	.wrapper {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1.5em;

		//set max width of body
		// max-width: 1440px;
	}

	// Header Style - Desktop
	.header__form {
		flex: 1 0 100%;

		grid-template-columns: repeat(12, 1fr);
		grid-template-areas: "logo . channel channel search search search search search search search user";
	}

	.hamburger,
	.nav__close {
		display: none;
	}
	.user {
		width: auto;
		text-align: left;
	}

	// Navigation Style - Desktop
	.sidebar__nav {
		background-color: unset;
		position: unset;

		// min-width of navigation
		min-width: 245px;

		// Show Navigation on Desktop viewport
		visibility: unset;
		transform: translateX(0);
		opacity: 1;
	}

	// Content Style - Desktop
	.content {
		flex: 1;

		display: grid;
		grid-gap: 1.5em;
		grid-template-areas:
			"c c t t"
			"c c . ."
			"d d d d";
		// max-width: 100%;
		// margin-left: auto;
	}

	.content__title {
		grid-area: t;
	}
	.content__chart {
		grid-area: c;
	}
	.content__data {
		grid-area: d;
	}

	// Content Chart Style
	.content__chart {
		width: 100%;
		height: 348px;
		background: lightblue;
		margin: 0 auto;
		padding: 24px;

		// max and min width on desktop viewport
		// min-width: 260px;
		max-width: 633px;
	}

	// Content Data Style - Desktop
	.content__data {
		display: grid;
		grid-gap: 1.5em;
		grid-template-areas:
			"o o o o o o"
			"m m m m m m"
			"k k k k k k"
			"s s s s s s";
	}
	.data__overview {
		grid-area: o;
	}
	.data__medium {
		grid-area: m;
	}
	.data__keyword {
		grid-area: k;
	}
	.data__source {
		grid-area: s;
		width: 100%;
	}
}

// Desktop 1224px
@media (min-width: 1224px) {
	//sidebar__nav
	.sidebar__nav {
		background-color: unset;
		position: unset;

		flex: 0 auto;
	}

	.content {
		flex: 1;

		display: grid;
		grid-gap: 1.5em;
		grid-template-areas:
			"c c t t"
			"c c d d";
		max-width: 100%;
		margin-left: auto;
	}

	.content__title {
		grid-area: t;
	}
	.content__chart {
		grid-area: c;
	}
	.content__data {
		grid-area: d;
	}

	// Content Data Style - Desktop
	.content__data {
		display: grid;
		grid-gap: 1.5em;
		grid-template-areas:
			"o o o o o o"
			"m m m k k k"
			"s s s s s s";
	}
	.data__overview {
		grid-area: o;
	}
	.data__medium {
		grid-area: m;
	}
	.data__keyword {
		grid-area: k;
	}
	.data__source {
		grid-area: s;
		width: 100%;
	}
}
